@*  TO-DO: Make it connect with the database in which there will be a dedicated admin table!  *@
@page "/admins"

<section class="admin_section">
    <div class="admin-title">
        <h1>Администрация:</h1>
    </div>
    <div class="admins">
        <div class="admin-container">
            <!-- <p class="hidden-title">Контакти</p>
            <p class="hidden-contact">Email: testtesttest@gmail.com</p> -->
            <img src="photos/vladi.JPG" class="admin-photo">
            <h1 class="admin-name">Владимир Петров</h1>
            <p class="admin-role">Системен Администратор</p>
        </div>
        <div class="admin-container">
            <img src="photos/yordan.png" class="admin-photo">
            <h1 class="admin-name">Йордан Йорданов</h1>
            <p class="admin-role">Технически Администратор</p>
        </div>
        <div class="admin-container">
            <img src="photos/katya.jpg" class="admin-photo">
            <h1 class="admin-name">Катя Божкова</h1>
            <p class="admin-role">Администратор</p>
        </div>
        <div class="admin-container">
            <img src="photos/margarita.JPG" class="admin-photo">
            <h1 class="admin-name">Маргарита Кондева-Велинова</h1>
            <p class="admin-role"> Администратор</p>
        </div>
    </div>
</section>

@code {

}
