
@*  TO-DO: Make the backend code!  *@


<section class="head_section">
    <div class="image">
        <img src="images/ori_4168100_9nt7lswydjsu4p039hmvnnrgka3b42mf87qn5647_stacked-book-icon-library-symbol-bookstore-logo.jpg" alt="">
    </div>
    <div class="search">
        <div class="search-info">
            <h1 class="search-title">Библиотека</h1>
            <p class="subtitle">На Проилирана гимназия "Христо Ботев"</p>
        </div>
        <div class="search-bar">
            <div class="im">
                <input type="text" placeholder="Намери книгата за теб">
                <button>Търси   </button>
            </div>
        </div>
    </div>
</section>

@code {
    /// <summary>
	///     This is the HomeHead component. It is used to display the header of the home page.
	/// </summary>

}
