@*  TO-DO: Pull the data from a Database!  *@


<section class="stats_section">
    <div class="stat-title">
        <h1>Разполагаме с</h1>
    </div>
    <div class="stats">
        <div class="stat" id="authors">
            <p class="stat-up">Над</p>
            <p class="stat-num">150</p>
            <h1>Автори</h1>
        </div>
        <div class="stat" id="books">
            <p class="stat-up">Над</p>
            <p class="stat-num">200</p>
            <h1>Книги</h1>
        </div>
        <div class="stat" id="school_materials">
            <p class="stat-up">Над</p>
            <p class="stat-num">400</p>
            <h1>Учебни материали</h1>
        </div>
    </div>
</section>

@code {
    ///<summary>
    ///     This component is used to display the stats of the database and the system
    ///</summary>
}
